APP_NAME="Order Payment Case"
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8080
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
BCRYPT_ROUNDS=12
LOG_CHANNEL=stack
LOG_STACK=daily
LOG_LEVEL=info
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=order_payment
DB_USERNAME=order_user
DB_PASSWORD=order_password
SESSION_DRIVER=file
QUEUE_CONNECTION=rabbitmq
PAYMENT_QUEUE_CONNECTION=rabbitmq
CACHE_STORE=redis
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=order_user
RABBITMQ_PASSWORD=order_password
RABBITMQ_VHOST=/
STOCK_RESERVATION_TTL_MINUTES=15
WORKFLOW_STORE_ID=1
